// Colors
$primary-color: #0288d1; 
$secondary-color: #bbbbbb;
$border-color: #bbbbbb;
$link-color: #1EAEDB;
$font-color: #222222;
$light-gray: #e1e1e1;
$dark-gray: #333333;

@import "../framework/all";

$home-bg: #ffffff;
$about-bg: #C94277;
$work-bg: #A27E6F;
$download-bg: #94524A;
$contact-bg: #2F0A28;

$home-text: #212121;
$logo-text: #ffc107;

$niconne: "Niconne", cursive;

.home {
	background-color: $home-bg;
}

/* Larger than mobile */
@media (min-width: 400px) {

	.header {
		width: 100%;

		h1 {
			float: left;
			margin: 0;
			
			a {
				float: left;
				font-family: $niconne;
				color: $primary-color;
				font-size: 6rem;
				padding: 2rem 0 1rem 0;
			}
		}

		.menu {
			float: right;

			.fa-bars {
				font-size: 3rem;
				padding: 5rem 0 2rem 0;
			}
		}
	}

	.home {
  	padding: 0 0 10rem 0;

  	.button {
  		margin: 3rem auto;
			display: block;
			width: 20rem;
			border-radius: 10rem;
  	}

  	h2 {
	    font-size: 2.5rem;
	    color: $home-text;
	  }
	  .image {
	  	float: right;
	    width: 100%;
	  }
  }

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

  .home {
  	padding: 20rem 0 10rem;

  	.button {
  		margin: 1rem auto;
  		float: left;
  	}

  	h2 {
	    font-size: 2.4rem;
	  }
	  .image {
	  	float: right;
	    margin-top: -10rem;
	    max-width: 30rem;
	  }
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .home {
  	padding: 20rem 0 10rem;

  	h2 {
	    font-size: 2.6rem;
	  }
	  .image {
	    margin-top: -14rem;
	  }
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .home {
  	padding: 25rem 0 10rem;

  	h2 {
	    font-size: 3.0rem;
	  }
	  .image {
	    margin-top: -16rem;
	    max-height: 615px;
	  }
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
		color: yellow;
	}
	
}


