// Colors
  $primary-color: #33C3F0; 
$secondary-color: #bbbbbb;
   $border-color: #bbbbbb;
     $link-color: #1EAEDB;
     $font-color: #222222;
     $light-gray: #e1e1e1;
      $dark-gray: #333333;


// Breakpoints
   $larger-than-mobile: 400px;
  $larger-than-phablet: 550px;
   $larger-than-tablet: 750px;
  $larger-than-desktop: 1000px;
$larger-than-desktophd: 1200px;

// Misc 
$global-radius:4px;